

.first-section {
    padding-top: 64px ;
    padding-bottom: 96px ;
    background-color: #FAF8F5;
}

.first-section .container{
    display: flex;
}

.sale {
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    font-size: 14px;
    display: inline-flex;
    background-color: #F9F5FF;
    border-radius: 16px;
    padding: 6px;
    align-items: center;
    color: #6941C6;
}

.text-content {
    margin-top: 103px;
    margin-right: 32px;
}

.new{
    background-color: #fff;
    border-radius: 16px;
    padding: 2px 10px;
}

.ref {
    margin-left: 12px;
    margin-right: 4px;
}

.sale img {
    margin-right: 10px;
}

.text-content h1 {
    color: #1B1C20;
    font-family: 'Satoshi-Bold',sans-serif;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.02em;
    margin-bottom: 24px;
}

.text-content span {
    color: #712FFF;
    font-family: 'Satoshi-Bold', sans-serif;
    font-size: 44px;
    letter-spacing: 0.02em;
}

.down-part {
    color: #383A47;
    font-family: 'Satoshi-Regular', sans-serif;
    letter-spacing: 0.02em;
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 32px;
}

.apps-btns {
    display: flex;
    gap: 15px;
}

.apps {
    border: 0.5px solid #1B1C20;
    border-radius: 12px;
    padding: 15px 23px;
}

