.third-section {
    padding: 96px 0;
}

.third-section h2 {
    font-family: 'Satoshi-Medium',serif;
    font-size: 43px;
    text-align: center;
    margin-bottom: 52px;
}

span {
    color: #712FFF;
}

.cards {
    display: flex;
}

.cards ul {
    display: flex;
    flex-basis: calc((1280px - (28 * 3) ) / 4);
    gap: 28px;
    flex-wrap: wrap;
}

.card-h-p {
    text-align: center;
    font-size: 20px;
    font-family: 'Satoshi-regular', serif;
    margin-bottom: 28px;
}

.cards img {
    margin-bottom: 28px;
}

.cards ul li {
    align-items: center;
    text-align: center;
    padding: 40px 0;
    border-radius: 24px;
    box-shadow: 0 2px 4px 0 rgba(68, 55, 0, 0.01), 0 6px 9px 0 rgba(68, 55, 0, 0.01), 0 9px 17px 0 rgba(68, 55, 0, 0.01), 0 16px 28px 0 rgba(68, 55, 0, 0.01), 0 26px 46px 0 rgba(68, 55, 0, 0.01), 0 46px 80px 0 rgba(68, 55, 0, 0.01), 0 99px 175px 0 rgba(68, 55, 0, 0.02), 0 2px 4px 0 rgba(68, 55, 0, 0.01);
}

.cards-p {
    text-align: center;
    font-size: 15px;
    line-height: 170%;
    letter-spacing: -0.01em;
    color: #797b89;
    padding: 0 33px;
    max-width: 280px ;
    font-family: 'Inter', serif;
}

.maincard {
    padding: 40px 54px 125px 54px;
    border-radius: 24px;
    box-shadow: 0 2px 4px 0 rgba(68, 55, 0, 0.01), 0 6px 9px 0 rgba(68, 55, 0, 0.01), 0 9px 17px 0 rgba(68, 55, 0, 0.01), 0 16px 28px 0 rgba(68, 55, 0, 0.01), 0 26px 46px 0 rgba(68, 55, 0, 0.01), 0 46px 80px 0 rgba(68, 55, 0, 0.01), 0 99px 175px 0 rgba(68, 55, 0, 0.02), 0 2px 4px 0 rgba(68, 55, 0, 0.01);
}

.maincard img {
    margin-top: 85px;
}